.container {
    height: 90vh;
}

.flex_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%; /* align-items needs assign height*/
}

.flex_item {
    height: 10%;
    margin: 10px;
}